
<div class="home_container">
    <app-card 
        gameLabel="Free" 
        gameCover="assets/bt-1.jpg" 
        gamePrice="R$ 0,00"
        gameType="DIGITAL | PS5"
        title="FIRST STEP"
    />
    <app-card 
        gameLabel="Exclusive" 
        gameCover="assets/bt-hardline.jpg" 
        gamePrice="R$ 199,99"
        gameType="DISC | PS4"
        title="BUY NOW"
    />
    <app-card 
    gameLabel="NEW" 
    gameCover="assets/ac-cover.jpg" 
    gamePrice="R$ 269,99"
    gameType=" DIGITAL / DISC | PS5"
    title="FOR A NEW WORLD"
    />

</div>
